ul.validation-errors {
  list-style: none;
  font-size: 12px;
  color: #E53935;
}

ul.validation-errors > li:before {
  content: "*";
}

input.validation-error,
input.validation-error:focus,
select.validation-error,
select.validation-error:focus {
  border-color: #E53935;
}
